* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont,
               system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
               'Apple SD Gothic Neo', 'Noto Sans KR',
               'Malgun Gothic', 'Apple Color Emoji',
               'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body { font-size: 16px; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: .5rem 1rem;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px #00000033;
}

header > h1 {
  margin: 0;
  color: #000;
  font-size: 2rem;
}

main {
  width: 100%;
  max-width: 700px;
  padding: 0 1rem;
  margin: auto;
  margin-top: 1rem;
  box-sizing: border-box;
}

main > section {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

main > section > h2 {
  margin: 1rem 0;
  color: #000;
}

main > section > .item {
  margin: .5rem 0;
  overflow: auto;
}

main > section p:last-child,
main > section > .item:last-child {
  margin-bottom: 0;
}
main > section:last-child { border-bottom: none; }

input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  font-size: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  -webkit-appearance: none;
  -webkit-user-select: initial !important;
          user-select: initial !important;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
input:focus,
input:active {
  background-color: #ddd;
}
input::placeholder,
input::-webkit-input-placeholder {
  color: #555;
}

button {
  padding: .5rem 1rem;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
button:hover { background-color: #333; }
button:active { background-color: #555; }
button:disabled {
  background-color: #aaa;
  border: 1px solid #aaa;
  cursor: not-allowed;
}

pre {
  display: inline-block;
  padding: .5rem;
  min-width: 100%;
  margin: 0;
  background-color: #eee;
  box-sizing: border-box;
}

p.inline { display: inline; }
p.secondary { color: #555; }

div.group {
  display: flex;
  align-items: stretch;
}
div.group > * { width: auto; }
div.group > *.fill { flex: 1; }
div.group > *:first-child { border-radius: 3px 0 0 3px; }
div.group > *:last-child { border-radius: 0 3px 3px 0; }

.t { color: dodgerblue; }
.f { color: tomato; }

span.github {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjYgMC0xMiA1LjM3My0xMiAxMiAwIDUuMzAyIDMuNDM4IDkuOCA4LjIwNyAxMS4zODcuNTk5LjExMS43OTMtLjI2MS43OTMtLjU3N3YtMi4yMzRjLTMuMzM4LjcyNi00LjAzMy0xLjQxNi00LjAzMy0xLjQxNi0uNTQ2LTEuMzg3LTEuMzMzLTEuNzU2LTEuMzMzLTEuNzU2LTEuMDg5LS43NDUuMDgzLS43MjkuMDgzLS43MjkgMS4yMDUuMDg0IDEuODM5IDEuMjM3IDEuODM5IDEuMjM3IDEuMDcgMS44MzQgMi44MDcgMS4zMDQgMy40OTIuOTk3LjEwNy0uNzc1LjQxOC0xLjMwNS43NjItMS42MDQtMi42NjUtLjMwNS01LjQ2Ny0xLjMzNC01LjQ2Ny01LjkzMSAwLTEuMzExLjQ2OS0yLjM4MSAxLjIzNi0zLjIyMS0uMTI0LS4zMDMtLjUzNS0xLjUyNC4xMTctMy4xNzYgMCAwIDEuMDA4LS4zMjIgMy4zMDEgMS4yMy45NTctLjI2NiAxLjk4My0uMzk5IDMuMDAzLS40MDQgMS4wMi4wMDUgMi4wNDcuMTM4IDMuMDA2LjQwNCAyLjI5MS0xLjU1MiAzLjI5Ny0xLjIzIDMuMjk3LTEuMjMuNjUzIDEuNjUzLjI0MiAyLjg3NC4xMTggMy4xNzYuNzcuODQgMS4yMzUgMS45MTEgMS4yMzUgMy4yMjEgMCA0LjYwOS0yLjgwNyA1LjYyNC01LjQ3OSA1LjkyMS40My4zNzIuODIzIDEuMTAyLjgyMyAyLjIyMnYzLjI5M2MwIC4zMTkuMTkyLjY5NC44MDEuNTc2IDQuNzY1LTEuNTg5IDguMTk5LTYuMDg2IDguMTk5LTExLjM4NiAwLTYuNjI3LTUuMzczLTEyLTEyLTEyeiIvPjwvc3ZnPg==');
}
